body{
    background-color: black;
}
main{
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1400px;
    height: 700px;
    border-style: double;
    padding: 50px 200px;
}
.logo{
    margin: 0 375px;
    width: 250px;
}
hr{
    height: 5px;
    background-color: black;
    margin-top: 50px;
    
}
.tool-bar{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    width: 160px;
    text-align: center;

    


}.tool-border{
    border-top: 5px solid ;
    border-bottom: 2px solid;
    margin: 50px 0;
}
.center-img{
    width: 100%;
    height: 200px;
}
.main-txt{
    display: inline-block;
    margin: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
}
/* .d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
} */
.tool-bar-spacing{
    margin: 10px 20px 10px 10px;
}